NOTION_DATABASE_ID=
NOTION_TOKEN=
NOTION_BLOG_DATABASE_ID=
NOTION_ABOUT_PAGE_ID=

CLOUDFLARE_R2_REGION=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_PUBLIC_URL=

GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_SECRET=
ADMIN_EMAIL=
NEXTAUTH_URL=